## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user
TestResults/
*.trx
*.coverage
*.coveragexml

## C# Dev Kit cache
*.lscache

## OS
Thumbs.db
Desktop.ini
